<!DOCTYPE html>
<html>
<head>
  <title>Ooo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <% if session[:user_id] %>
      <span class="user"><%= User.find_by_id(session[:user_id]).username %></span>
      <%= button_to t('logout'), logout_path, method: :delete %>
    <% end %>
  </div><!-- End .header -->
<%= yield %>

</body>
</html>
