<!DOCTYPE html>
<html>
<head>
  <title>Ooo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if session[:user_id] and User.find_by_id(session[:user_id]) %>
      <div class="header navbar">
        <a class="navbar-brand" href="#"><%= t('site_name') %></a>
        <ul class="nav navbar-nav pull-right">
          <li><a href="#"><%= User.find_by_id(session[:user_id]).username %></a></li>
          <li><%= button_to t('labels.logout'), logout_path, method: :delete, class: 'btn btn-default navbar-btn' %></li>
        </ul>
      </div><!-- End .header -->
    <% end %>
    <%= yield %>
  </div><!-- End .container -->
</body>
</html>
